#
# Autoconf files
#
autom4te.cache/
config.log
config.status
configure
Makefile.config
Makefile.local
.product
.merlin
#
# Local customization
#
_build
doc.public
listtransform.log
maybe.log
.gitignore
success_reader.log
stream.log
.DS_Store
